.container-budget{
  position: absolute;
  left: 125px;
  top: 0;
  width: 400px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px 30px;
  margin-top: 120px;
}

.col-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.col-id {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;

}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*
.col-add button {
  margin: 0 5px;
} */

.col-add-line2 {
  display: flex;
  justify-content: center;
  margin-top: 5px; /* Adjust the margin as needed */
}

.col-add-line2 button {
  margin: 10px 5px; /* Adjust the spacing between buttons as needed */

}

.col-add-line3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.client-list{
  position: fixed;
  top: 100px;
  right: 100px;
  /* padding: 200px; */
  background-color: #f1f1f1;
}


#add{
  margin-top: 20px;
  background-color:rgb(245, 55, 109);
  padding: 10px;
}

#clientName{
  margin-left: 5px;
}
#clientId{
  margin-left: 5px;
}

.client-list table {
  width: 100%;
  border-collapse: collapse;
}

.client-list th,
.client-list td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.client-list .client-name {
  text-align: center;
  border-right: 1px solid #ccc;

}

.client-list .client-id {
  text-align: center;
  border-right: 1px solid #ccc;

}
