<!-- <p>panell-child works!</p> -->
<!--
<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="input1">Número de pàgines</label>
      <input type="text" [(ngModel)]="pagines" placeholder=" " class="form-control" id="input1">
    </div>
    <div class="form-group">
      <label for="input2">Número de idiomes</label>
      <input type="text" [(ngModel)]="idiomes" placeholder=" " class="form-control" id="input2">
    </div>
  </div>
</div> -->



 <!-- WOOORRRIKING -->

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="input1">Número de pàgines</label>
      <input type="text" [(ngModel)]="priceForm.value.pagines" (input)="calculateTotalPrice()" class="form-control" id="input1">
    </div>
    <div class="form-group">
      <label for="input2">Número de idiomes</label>
      <input type="text" [(ngModel)]="priceForm.value.idiomes" (input)="calculateTotalPrice()" class="form-control" id="input2">
    </div>
  </div>
</div>






