
<!--WOOOORKS-->
 <div class="card">
  <div class="card-body">
    <div class="form-group"></div>
      <div class="d-flex justify-content-between align-items-center">
        <label for="input1" class="input-label">Number Pages</label>
        <div class="input-group">
          <button class="btn btn-outline-secondary" type="button" (click)="decrementPage()">-</button>
          <input type="text" [(ngModel)]="priceForm.value.pagines" (input)="calculateTotalPrice()" class="form-control" id="input1">
          <button class="btn btn-outline-secondary" type="button" (click)="incrementPage()">+</button>
          <button id="infoButton1" class="btn btn-success" (click)="openModal('pages')">
            <i class="fas fa-info-circle circle1"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-between align-items-center">
        <label for="input2" class="input-label">Number Languages</label>
          <div class="input-group">
            <button class="btn btn-outline-secondary" type="button" (click)="decrementLanguage()">-</button>
            <input type="text" [(ngModel)]="priceForm.value.idiomes" (input)="calculateTotalPrice()" class="form-control" id="input2">
            <button class="btn btn-outline-secondary" type="button" (click)="incrementLanguage()">+</button>
            <button id="infoButton2" class="btn btn-success" (click)="openModal('languages')">
              <i class="fas fa-info-circle circle2"></i>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" (click)="closeModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <div class="modal-body">
        <ng-container *ngIf="selectedLanguage === 'pages'">
          Please, add the number of pages
        </ng-container>
        <ng-container *ngIf="selectedLanguage === 'languages'">
          Please, add the number of languages
        </ng-container>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>


